<style>
    .subscribe-button {
        background-color: rgb(179, 0, 0);
        color: white;
        border: none;
        padding: 10px 16px;
        cursor: pointer;
        transition: 0.2s;
    }
    .subscribe-button:hover {
        opacity: 0.8;
    }
    .subscribe-button:active {
        opacity: 0.5;
    }
    .join-button {
        background-color: rgb(255, 255, 255);
        color: rgb(51, 65, 220);
        border-color: rgb(51, 65, 220);
        height: 35px;
        width: 70px;
        border-style: solid;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        border-width: 1px;
        margin-left: 8px;
        margin-right: 8px;
        transition: backgroud-color 0.3s, color 0.3s, opacity 0.3s;
    }
    .join-button:hover {
        background-color: rgb(51, 65, 220);
        color: white;
    }
    .join-button:active {
        opacity: 0.7;
    }
    .tweet-button{
        background-color: rgb(2, 158, 255);
        color: white;
        border: none;
        height: 35px;
        width: 74px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s;

    }
    .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.5s;
    }


</style>

<button class= "subscribe-button">
    SUBSCRIBE
</button>

<button class= "join-button">
    JOIN
</button>
<button class="tweet-button">
    Tweet
</button>