<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="about">about me</a>
                <a href="projects">projects</a>
                <a href="cv">download_cv</a>
            </ul>
        </nav>
    </header>
	<h1>anderson stolfi</h1>
    <h2>gis specialist and developer
    </h2>
    <p>
        <a href="https://www.linkedin.com/in/anderson-stolfi-50263b1b0/?originalSubdomain=br">linkedin</a>
    </p>    
    <p>
        <a href="https://github.com/popogis24">github</a>
    </p>
</body>
</html>
